body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1, h2, p {
  color: #ffffff;
  font-size: 28px;
}


.container {
  text-align: center;
  background: deepskyblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

input {
  padding: 10px;
  width: 150px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.pokemon-result {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image {
  width: 150px;
}

.error {
  color: red;
}